
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Method1</title>
</head>
<body>
    <h2>@TempData["Message"]</h2>
    <p>There are @TempData["CustomerCount"] customers added to the list.</p>
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Customer Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TempData["CustomerList"] as List<Customer>)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>
    @{
        TempData.Keep("Message");
    }
    <a asp-controller="Demo" asp-action="Method2">Go to Method2</a>
</body>
</html>
