
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Count</h3>
<ul>
    @foreach(var item in ViewBag.CustomerList){
        <li>@item.Id - @item.Name - @item.Amount</li>
    }
 </ul>  
 <hr/>

 @Html.ActionLink("Details Page", "Details", "Customer");
 <br/>
 <a asp-controller="Customer" asp-action="Message">Message</a>






